.btn {
  background-color: $neon-green;
  position: absolute;
  bottom: -5%;
  transform: translate(0,30%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px $neon-green;
  }
  @media (min-width: $small) {
    bottom: -2%;
    transform: translate(0%,40%);
  }
}
